
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    /* color: antiquewhite; */
    /* border: solid 1px red; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    width: 100%;
    background-color: rgb(18, 29, 49);
    background-image: url("../image/background6.jpg");
    background-repeat: no-repeat;
    background-position:initial;
    background-size: cover;
    /* transform: scale(2); */
    /* transform-origin: 0 0; */
    /* height: 130px */
  }
  
.center-box-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.685);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 45px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000208b0;
    height: auto;
    border: 2px solid rgb(255, 255, 255,0.5);
    /* background: transparent;
    backdrop-filter: blur(15px); */
}

.center-box-register {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.685);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 45px;
  border-radius: 10px;
  box-shadow: 0 0 50px #000208b0;
  height: auto;
  border: 2px solid rgb(255, 255, 255,0.5);
  /* background: transparent;
  backdrop-filter: blur(15px); */
}

/* .formulario {
  margin: -10px ;
  margin: solid 1px blue;
} */

.title {
    text-align: center;
    margin-bottom:30px ;    
}

.label-float{
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .label-float input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    width: 86%;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    border-radius:0;
    /* -webkit-appearance:none; */
    /* background: transparent;
    backdrop-filter: blur(15px); */
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #B13760;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }

  /* .label-float input:required:invalid + label{
    color: red;
  } */
  /* .label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
  } */
  /* .label-float input:required:invalid + label:before{
    content: '*';
  } */

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: -1px;
  } 



ion-icon { 
    color: #B13760;
    width: 20px;
    height: 20px;
}


.box-checkbox {
  display:flex;
  flex-direction: row;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.checkbox {
  cursor:pointer;
}

.btn {
  width:100%;
  padding: 5px;
  background-color: #B13760;
  border:none;
  border-radius: 7px;
  color: aliceblue;
  font-size:17px;
  margin: 25px 0;
  cursor: pointer;
  /* align-items: center; */
  /* text-align: center; */
}

.have {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.registrar {
  font-weight: 550;
  cursor:pointer;
  color: black;
}

.logar {
  font-weight: 550;
  cursor:pointer;
  color: black;
}

@media (max-width: 620px) {
  ion-icon { 
    display: none;
  }

  .label-float input{
  width: 100%;
  }

  .label-float{
    padding-top: 15px;
  }

}